[submodule "microservices/inventory-service"]
	path = microservices/inventory-service
	url = https://github.com/Renat03/inventory-service.git
[submodule "microservices/shop-service"]
	path = microservices/shop-service
	url = https://github.com/Bostan-Victor/shop-service.git
