[submodule "microservices/inventory-service"]
	path = microservices/inventory-service
	url = https://github.com/Renat03/inventory-service.git
[submodule "microservices/chat-service"]
	path = microservices/chat-service
	url = https://github.com/Renat03/chat-service.git
